@import "../../utils/variables";

.Contacts {
	display: flex;
	align-items: center;

	box-shadow: none;

	.PhoneGroup {
		display: flex;
		flex-direction: column;

		letter-spacing: 4px;

		.Phone {
			display: flex;
			align-items: center;

			font-size: 30px;

			svg {
				margin-right: 16px;
				fill: $colorWhite;
			}

			&:hover svg {
				cursor: pointer;
				fill: $colorGray;

				transition: all 0.5s;
			}
		}
	}
}
