@import "../../utils/variables";

.Breadcrumbs {
	margin-bottom: 24px !important;
	padding-top: 8px;

	.Link {
		text-decoration: none;
	}

	.ActiveLink {
		color: $colorBlack;

		@extend .Link;
	}
}
