@import "../../utils/variables";

.Card {
	position: relative;

	display: flex;
	overflow: hidden;
	align-items: flex-end;
	justify-content: center;

	width: 275px;
	height: 205px;

	border: none;
	box-shadow: $boxShadowColor 0 8px 24px;

	img {
		width: 100%;
		height: 100%;

		transition: all 0.7s;
		object-fit: cover;

		&:hover {
			transform: scale(1.5);
		}
	}
}

.CardTitle {
	position: absolute;
	z-index: 100;

	width: 100%;
	padding: 8px 0;

	text-align: center;

	opacity: 0.7;
	background-color: $colorGray;

	a {
		text-decoration: none;

		color: $colorWhite;

		&:hover {
			color: $mainBlue;
		}
	}
}
