@import "../../../../utils/variables";

.textField {
	width: 200px;
}

.adornment {
	svg {
		cursor: pointer;
	}

	svg:first-child {
		margin-right: 4px;
	}

	svg:hover {
		fill: $colorRed;

		transition: 0.5s;
	}
}
