@import "../../utils/variables";

.Person {
	margin: 16px 0;

	background: $colorWhite;
	box-shadow: $boxShadowColor 0 8px 24px;

	h6 {
		color: $mainBlue;
	}

	h6 + h6 {
		color: $colorOrange;
	}

	.PersonInfo {
		display: flex;
		float: left;

		padding: 16px 16px 0 16px;

		.PersonPhoto {
			overflow: hidden;

			max-width: 60px;
			max-height: 60px;
			margin-right: 16px;

			border-radius: 50%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
