.App {
	* {
		outline: 0 !important;
	}

	input:-webkit-autofill,
	textarea:-webkit-autofill,
	select:-webkit-autofill {
		&,
		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 0 1000px white inset !important;
		}
	}
}
