@import "../../utils/variables";

.Menu {
	justify-content: space-around;

	background-color: $mainBlue;

	.MenuItemWrapper {
		flex-grow: 1;
	}

	.MenuItem {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		padding: 20px;

		transition: all 0.2s;
		text-decoration: none;

		color: $colorWhite;

		&:hover {
			cursor: pointer;
			transition: all 0.2s;

			background-color: darken($mainBlue, 15%);
		}
	}

	.MenuItemActive {
		background-color: darken($mainBlue, 10%);

		&::after {
			position: absolute;
			bottom: 0;

			width: 100%;

			content: "";

			border-bottom: 3px solid $colorRed;
		}
	}
}
