@import "../../utils/variables";

.Reviews {
	margin: 16px 0;

	background: $colorWhite;
	box-shadow: $boxShadowColor 0 8px 24px;

	h6 {
		color: $mainBlue;
	}

	h6 + h6 {
		color: $colorOrange;
	}

	.ReviewsInfo {
		display: flex;
		float: right;
		flex-direction: row-reverse;

		padding: 16px 16px 0 16px;

		.ReviewsPhoto {
			overflow: hidden;

			max-width: 60px;
			max-height: 60px;
			margin-left: 16px;

			border-radius: 50%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.ReviewsDesc {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
		}
	}
}
