@import "../../utils/variables";

.carouselWrapper {
	position: relative;

	margin-top: 16px;
	margin-bottom: 16px;

	&:hover .sliderPrevArrow,
	&:hover .sliderNextArrow {
		visibility: visible;

		transition: all 0.5s;
		transform: translateY(-50%) scale(1);
	}

	.imageWrapper {
		position: relative;

		&:hover .imageDescriptions {
			visibility: visible;

			transition: all 0.5s;
			transform: scale(1);
		}

		.imageDescriptions {
			position: absolute;
			bottom: 16px;
			left: 16px;

			visibility: hidden;

			padding: 16px;

			transition: all 0.5s;
			transform: scale(0);

			color: $colorWhite;
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	.sliderPrevArrow {
		position: absolute;
		top: 50%;
		left: 16px;

		visibility: hidden;

		cursor: pointer;
		transition: all 0.5s;
		transform: translateY(-50%) scale(0);

		line-height: 1;

		svg path {
			transition: opacity 0.5s;

			opacity: 0.4;
		}

		&:hover svg path {
			transition: opacity 0.5s;

			opacity: 0.7;
		}
	}

	.sliderNextArrow {
		position: absolute;
		top: 50%;
		right: 16px;

		visibility: hidden;

		cursor: pointer;
		transition: all 0.5s;
		transform: translateY(-50%) scale(0);

		svg path {
			transition: opacity 0.5s;

			opacity: 0.4;
		}

		&:hover svg path {
			transition: opacity 0.5s;

			opacity: 0.6;
		}
	}
}

:global {
	.slick-slider {
		position: relative;

		display: block;

		box-sizing: border-box;

		user-select: none;
		touch-action: pan-y;

		.slick-track,
		.slick-list {
			transform: translate3d(0, 0, 0);
		}

		.slick-list {
			position: relative;

			display: block;
			overflow: hidden;

			margin: 0;
			padding: 0;

			&:focus {
				outline: none;
			}

			&.dragging {
				cursor: hand;
			}

			.slick-track {
				position: relative;
				top: 0;
				left: 0;

				display: block;

				margin-right: auto;
				margin-left: auto;

				&::before,
				&::after {
					display: table;

					content: "";
				}

				&::after {
					clear: both;
				}

				.slick-loading {
					visibility: hidden;
				}
			}
		}
	}

	.slick-slide {
		display: none;
		float: left;

		height: 100%;
		min-height: 1px;

		img {
			display: block;

			width: 100%;
		}

		.slick-loading img {
			display: none;
		}

		.dragging img {
			pointer-events: none;
		}

		.slick-loading {
			visibility: hidden;
		}

		.slick-vertical {
			display: block;

			height: auto;

			border: 1px solid transparent;
		}
	}

	.slick-initialized .slick-slide {
		display: block;
	}

	.slick-arrow .slick-hidden {
		display: none;
	}
}
