@import "../../utils/variables";

.SmallFormTourOrder {
	padding: 24px;

	background: $colorWhite;
	box-shadow: $boxShadowColor 0 8px 24px;

	form {
		.formContent {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			margin-top: 16px;

			.FormInput {
				margin-bottom: 16px;
			}
		}
	}
}
