@import "../../utils/variables";

.Footer {
	margin-top: 24px;

	color: $colorWhite;
	background-color: $mainBlue;

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;

		color: $colorWhite;

		&:hover {
			transition: all 0.5s;

			color: $colorGray;
		}
	}

	.FooterTop {
		justify-content: space-between;

		margin: 0 50px;

		a {
			color: $colorWhite;

			&:hover {
				color: $colorGray;
			}
		}

		.FooterTopMenu {
			display: flex;

			ul:first-child {
				padding-left: 0;
			}
		}
	}

	.FooterBottom {
		align-items: center;
		justify-content: space-between;

		.SocialIcon {
			margin: 0 50px;

			svg {
				transition: 0.3s ease-out;

				&:hover {
					transition: 0.3s ease-out;
					transform: scale(1.4);
				}
			}
		}

		.CreditCardIcon {
			margin: 0 50px;
		}
	}
}
