@import "../../utils/variables";

.ModalContent {
	flex-direction: column;
	justify-content: space-around;

	height: 320px;
	padding: 0 24px;

	form {
		display: flex;
		flex-direction: column;
	}

	.formContent {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		height: 220px;
		margin-bottom: 16px;
	}
}
