@import "../../utils/variables";

.Currency {
	display: flex;

	.CurrencyItem {
		display: flex;
		align-items: center;

		cursor: default;

		color: $colorBlack;

		font-size: 14px;

		svg {
			margin-right: 10px;
		}

		.ArrowUp {
			width: 30px;
			height: 30px;
			margin-left: 6px;

			color: $colorGreen;
		}

		.ArrowDown {
			color: $colorRed;

			@extend .ArrowUp;
		}

		.ArrowEqually {
			color: $colorBlack;

			@extend .ArrowUp;
		}
	}
}
