/* @import '../../utils/variables.module.scss';

.Footer {
  height: 200px;

  color: $colorWhite;
  background-color: $mainBlue;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;

    color: $colorWhite;
    &:hover {
      color: darken($mainBlue, 15%);
    }
  }

  .rowOne {
    display: flex;
    align-items: center;
  }

  .rowTwo {
    display: flex;
    align-items: center;
  }

  .Social {
    svg {
      transition: 0.3s ease-out;
      &:hover {
        transition: 0.3s ease-out;
        transform: scale(1.4);
      }
    }
  }
} */
