@import "../../utils/variables";

.Header {
	justify-content: space-between;

	margin-top: 10px;
	margin-bottom: 20px;

	a {
		text-decoration: none;
	}

	.Logo {
		display: flex;

		&__text {
			display: flex;
			flex-direction: column;

			margin-left: 20px;
		}

		h1 {
			margin-top: 10px;
			margin-bottom: 10px;

			text-decoration: none;
			letter-spacing: 4px;

			color: $mainBlue;
		}

		h3 {
			margin: 0;

			letter-spacing: 4px;

			color: $colorGray;
		}
	}

	.Line {
		display: inline-block;

		box-sizing: border-box;
		width: 100%;
		height: 2px;

		vertical-align: middle;

		background: $colorGray;
	}
}

.Contacts {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.ButtonGroup {
		.firstButton {
			margin-bottom: 6px;
		}

		button {
			display: flex;
			justify-content: space-between;

			width: 220px;

			color: $colorWhite;
			background-color: $mainBlue;

			svg {
				fill: $colorWhite;
			}

			&:hover {
				background-color: lighten($mainBlue, 10%);
			}

			&:focus {
				box-shadow: none;
			}
		}
	}

	a {
		color: $colorGray;

		&:hover {
			transition: all 0.5s;

			color: $mainBlue;
		}
	}
}
