@import "../../utils/variables";

.toolbar {
	justify-content: space-between;

	.userName {
		margin-right: 14px;
	}
}

.block {
	max-width: fit-content;
	margin-top: 14px;
	padding: 20px;

	border: solid 1px lighten($colorGray, 50%);

	font-size: 14px;

	> legend {
		padding: 0 14px;

		text-align: left;

		color: lighten($colorGray, 25%);
	}

	.contactsBlock {
		display: flex;
		flex-direction: column;

		> div {
			margin-bottom: 14px;
		}

		> button {
			width: 200px;
		}
	}
}
