/* Colors */
$mainBlue: #428bca;
$colorGray: #333;
$colorBlack: #000;
$colorWhite: #fff;
$colorOrange: #c25d33;
$colorRed: #bf0a30;
$colorGreen: #0b6623;
$boxShadowColor: #eaebed;

/* Mixins */
@mixin xs-size {
	@media (max-width: 730px) {
		@content;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
