@import "../../utils/variables";

.DetailFormTourOrder {
	margin-bottom: 24px;
	padding: 24px;

	background: $colorWhite;
	box-shadow: $boxShadowColor 0 8px 24px;

	.datePickerWrapper {
		display: flex;
		justify-content: space-between;

		width: 60%;
	}

	form {
		.formContent {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			margin-top: 16px;

			.FormInput {
				margin-bottom: 16px;
			}

			.FormDateInput {
				width: 150px;
				margin-bottom: 16px;
			}

			.PeopleCount {
				display: flex;
				justify-content: space-between;

				width: 60%;
			}

			.PriceMethod {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;

				> span {
					width: 70%;
					margin-bottom: 2px;
				}

				.peoplePaymentCount {
					flex-grow: 1;

					width: 110px;
					margin-left: 20px;
				}

				.PriceMethodSlider {
					flex-grow: 2;
				}
			}
		}
	}
}
