@import "../../utils/variables";

.auth {
	max-width: 375px;
	margin: 60px auto;

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		height: 200px;

		.formContent {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			height: 150px;
		}

		.loaderContainer {
			display: flex;
			align-items: center;
			justify-content: center;

			margin: 0 auto;
		}

		button {
			width: 100%;

			background-color: $mainBlue;

			&:hover {
				background-color: lighten($mainBlue, 10%);
			}

			svg {
				margin-left: 10px;
				fill: $colorWhite;
			}
		}
	}
}
