@import "../../utils/variables";

.News {
	padding: 8px;

	background: $colorWhite;
	box-shadow: $boxShadowColor 0 8px 24px;

	.Caption {
		display: flex;
		justify-content: space-between;

		margin-bottom: 8px;
	}

	a {
		display: flex;
		align-items: center;

		padding: 0 8px;

		text-decoration: none;

		color: $colorBlack;

		font-style: italic;

		&:hover {
			transition: all 0.3s;

			color: $mainBlue;
		}

		@include xs-size {
			align-items: flex-start;
		}
	}

	p {
		margin: 0 8px 0 0;

		white-space: nowrap;

		font-weight: bold;
	}

	@include xs-size {
		max-width: 100%;
	}
}
